<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Feel free to contact <%= link_to 'Dmitri', 'http://www.linkedin.com/profile/view?id=221646129&trk=nav_responsive_tab_profile_pic' %> at
  <a href="mailto:linde.dmitri@gmail.com?subject=DynamicPubmed">this email</a>.
</p>
<div class="center">
	<%= link_to 'Back to Home', root_path, class: "btn btn-large btn-primary" %>
</div>