=begin
Name: 			CS 295 Final Project - Dynamic Pubmed User Interface
Description:	Interactive web verision of final project

Author: 		Dmitri Linde
Created:		4/29/13
=end

<% # ------------------ RUBY ------------------ %>

<% 
	def printa()
		return 25
	end
%>

<% # ------------------ HTML ------------------ %>

<h1>Sample App</h1>
<p>
	This is the home page for the the Dynamic Pubmed User Interface Application	<%= printa() %>
</p>
